:root {
  /* Cores */
  --cor-primaria: #253900;
  --cor-secundaria: #ffffff;
  --cor-terciaria: rgb(224, 201, 165);
  --cor-hover-link: #fcd16c;

  --cor-btn-link-direction: rgb(21, 108, 171);

  /* Fontes */
  --fonte-primaria: "Arial", sans-serif;
}

/*  +-------------------------------------------+
    |              Estilos Globais              |
    +-------------------------------------------+*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--fonte-primaria);
}

header {
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
}

#logo {
  width: 100%;
  max-width: 150px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #f2d728b4;
}

#menu-mobile {
  display: none;
}

#icone-fechar {
  display: none;
  cursor: pointer;
}

#nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  color: var(--cor-secundaria);
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  transition: 0.25s ease-in-out;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--cor-secundaria);
  bottom: -4px;
  left: 0;
}

.nav-link:hover::after {
  position: absolute;
  width: 100%;
  background-color: #fcd16c;
}

main {
  flex: 1;
}

/*  +-------------------------------------------+
    |             Estilos Carrossel             |
    +-------------------------------------------+*/

.containerCarrosel {
  padding: 20px;
  margin: auto;
  gap: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: rgb(224, 201, 165);
  width: 100%;
}

#msgContainer {
  text-align: center;
}

#carrossel {
  display: flex;
}

#setaEsquerda,
#setaDireita {
  width: 40px;
}

.gallery-wrapper {
  overflow-x: auto;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.arrow-left,
.arrow-right {
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.arrow-right {
  /* left: auto;
  right: 0; */
  background: transparent;
}

.item {
  width: 395px;
  height: 250px;
  flex-shrink: 0;
  opacity: 0.5;
  border: 2px solid white;
  transition: all 600ms ease-in-out;
  cursor: pointer;
  transition: 0.25s;
  flex-shrink: 0;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  border: 2px solid var(--cor-primaria);
  transition: 0.25s;
  margin: 0.68rem;
  transition: 0.35s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
}

.current-item {
  opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/*  +-------------------------------------------+
    |             Select Região                 |
    +-------------------------------------------+*/

#eventos {
  /*background-color: aqua; só pra poder ver a parte melhor, depois tirar */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}

.label {
  color: #124421;
  font-weight: bold;
  font-size: 28px;
  margin-right: 15px;
}

#regioes {
  /* esse diz ao selector em si */
  background-color: rgb(54, 70, 39);
  border-color: rgb(54, 70, 39);
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  min-width: 50px;
  padding: 5px;
}

#legenda-regiao {
  /*aqui é o bloco onde as infos que foram do innerText do JS vão aparecer */
  display: none; /*isso faz com que o pedaço todo fique escondido e só apareça quando o block estiver ativo no JS*/
  width: 100%;
  height: 230px;
  margin: 20px auto;
  padding: 1rem;
  background: rgb(224, 201, 165);
  box-shadow: 0 10px 20px #0009;
  color: rgb(123, 88, 84);
  line-height: 1.2;
}

.eventosSelect h3 {
  font-weight: bold;
  font-size: 24px;
  border-bottom: solid;
  border-color: #124421;
}

.linkEventosSelect {
  color: #124421;
  cursor: pointer;
}

/*  +-------------------------------------------+
    |             Estilos Detalhes              |
    +-------------------------------------------+*/

.imagemEvento {
  width: 50%;
  display: flex;
  justify-content: center;
}

.imagemEvento img {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
}

#detalhes {
  max-width: 1140px;
  padding: 2rem;
  width: 100%;
  color: var(--cor-terciaria);
  background-color: var(--cor-primaria);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  display: none;
  margin: 0 auto;
  border-radius: 0.8rem;
}

#detalhes.mostrar {
  display: flex;
}

.containerDetalhes {
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
  border-radius: 2rem;
}

.imgDetalhes {
  width: 100%;
  display: flex;
  border: 2px solid #fff;
}

#containerEventoInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.eventoInfo {
  width: 50%;
}

.eventoInfo h3 {
  font-size: 2rem;
  border-bottom: 2px solid #fcd16c;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

#texto {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.data-local strong {
  line-height: 2rem;
  color: var(--cor-hover-link);
}

.botaoSite {
  background-color: rgb(39, 110, 203);
  /* background-color: rgb(54, 70, 39); */
  border: none;
  border-radius: 0.2rem;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  margin-top: 1.2rem;
}

.botaoSite:hover {
  background-color: rgb(20, 93, 187);
}

/*  +-------------------------------------------+
    |                Estilo Mapa                |
    +-------------------------------------------+*/

.localizacao {
  position: relative;
  background-color: var(--cor-secundaria);
  width: 350px;
  height: 200px;
}

iframe {
  width: 100%;
  max-width: 350px;
  height: 200px;
  border: 2px solid #fff;
  margin-top: 0.5rem;
}

/*  +-------------------------------------------+
    |              Estilo Rodapé                |
    +-------------------------------------------+*/

footer {
  margin-top: 10rem;
  flex-direction: column;
  background-color: var(--cor-primaria);
}

footer > .footer-group {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  align-items: center;
  color: var(--cor-secundaria);
}

/* Descrição da Empresa */
.sobre-a-empresa {
  max-width: 500px;
  margin: 0.5rem 0rem;
}

/* Cada div dentro do footer */

.links-list {
  display: flex;
  flex-direction: column;
}

#bandeiraBrasil {
  width: 250px;
  border-radius: 0.5rem;
}

#instaimg,
#faceimg {
  width: 50px;
  margin: 20px 02px;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--cor-secundaria);
}

#instaimg:hover,
#faceimg:hover {
  transform: scale(1.1);
  background-color: var(--cor-terciaria);
}

.fundo-texto {
  background-color: #000;
  padding: 5rem;
}

#msg-direito-reservado {
  text-align: center;
  color: var(--cor-secundaria);
  padding: 0.5rem;
}

/* Responsividade para Mobile */
@media screen and (max-width: 768px) {
  #menu-mobile {
    display: block;
    cursor: pointer;
    margin: 1rem;
    width: 40px;
    height: 40px;
  }

  #menu-mobile.apagar {
    display: none;
  }

  #icone-fechar.mostrar {
    display: flex;
    margin: 1rem;
  }

  #nav-list.mostrar-lista {
    display: flex;
  }

  #logo {
    margin: 1rem;
    max-width: 120px;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    width: 100%;
  }

  header > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar {
    width: 100%;
  }

  #nav-list {
    flex-direction: column;
    display: none;
    gap: 0rem;
  }

  .nav-item {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .nav-item:hover {
    background-color: #1d2c01;
  }

  .nav-item::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 2px;
    width: 0;
    background-color: var(--cor-secundaria);
    transition: width 0.25s ease-in-out;
  }

  .nav-item:hover::after {
    width: 100%;
    background-color: #fcd16c;
  }

  .nav-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
  }

  .nav-link::after {
    display: none;
  }

  .imagemEvento {
    max-width: 400px;
    height: 200px;
  }

  .imgDetalhes {
    width: 100%;
    font-size: 0.8rem;
  }

  .imgDetalhes {
    width: 350px;
    height: 220px;
    display: none;
  }

  .containerCarrosel {
    padding-top: 12rem;
  }

  #detalhes {
    margin: 1rem;
  }
}
